@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Marvel', sans-serif;
}

h1 {
  display: inline;
  vertical-align: middle;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}

table { margin-top: 50px; }

.h1-form {
  display: block;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 50px;
}

a:hover, a:focus {
  text-decoration: none;
}

.msg {
    background-color: #9edc3c;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.error-msg {
    margin-top: 20px;
    background-color: rgba(215, 44, 44, 0.8);
    border-radius: 5px;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
}

ul.pagination li span, 
ul.pagination li a {
    border-radius: 30px;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 15px;
    color: #000;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
    background-color: #a9425a;
    border-color: #a9425a;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
  border-radius: 30px;
}

.top-nav {
  background-color: #a9425a;
  height: 51px;
  line-height: 51px;

  h1 {
    color: #FFF;
    font-size: 20px;
  }

  a {
    color: #FFF;
    font-size: 15px;
    padding: 0 10px;
    text-transform: uppercase;
  }

  li {
    display: inline-block;
  }

  img {
    margin: 0 10px;
    width: 30px;
  }

  .fb-like {
    width: 60px;
  }

  .right-nav {
    text-align: right;

    .connect {
      @include transition(ease-in-out 0.4s);
    }

    .logos {
      width: 30px;
      height: 30px;
      display: inline-block;
      background-size: cover !important;
      vertical-align: middle;
    }

    .fb {
      background:url(../images/logo-fb.png);

      &:hover {
        background:url(../images/logo-fb-hover.png);
      }
    }

    .twitter {
      background:url(../images/logo-twitter.png);

      &:hover {
        background:url(../images/logo-twitter-hover.png);
      }
    }
  }
}

.bottom-nav {
  background-color: #eee;
  height: 50px;
  line-height: 50px;
  text-align: center;

  li {
    display: inline-block;

    a {
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      margin-right: 5px;
      @include transition(all 0.3s);

      &:last-child {
        margin-right: 0;
      }

      &:active {
        color: blue;
      }
    }
  }

  .search-bar {
    height: 30px;
  }

  .loupe {
    width: 20px;
  }

  form {
    display: inline-block;

    input[type="submit"] {
      height: 30px;
      line-height: 30px;
      border: 0;
      background-color: transparent;
    }
  }
}

.bottom-nav-admin {
  padding-top: 10px;
  text-align: center;

  li {
    display: inline-block;
    a {
      color: #000;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.post {
  margin: 50px 0;

  img {
    height: auto;
    width: 100%;
  }

  .post-img {
    padding: 0;
  }

  .description {
    background-color: #eee;
    height: auto;

    h3 {
      font-size: 30px;
      margin-top: 0px;
      text-align: center;

      a {
        color: #a9425a;
      }
    }

    .excerpt { font-size: 18px; }

    .date,
    .autor { 
      margin-bottom: 0;
      font-size: 13px; 

      b {
        color: rgba(70, 201, 214, 0.59); 
        text-transform: uppercase;
      }
    }

    .comment { text-align: right; }

    .link {
      text-align: right;
    }

    .read-more {
      background-color: #000;
      width: 30px;
      display: inline-block;
      overflow: hidden;
      height: 30px;
      text-align: left;
      padding: 0;
      text-decoration: none;
      color: #000;
      border-radius: 30px;
      font-size: 18px;
      padding: 1px;
      @include transition(all 0.2s);

      > span {
        background-color: #eee;
        border-radius: 30px;
        height: 28px;
        line-height: 27px;
        display: block;
      }
    }

    .read-more span span {
      display: inline-block;
      width:28px;
      font-size: 20px;
      text-align: center;
    }

    span.read-more {
      display: block;
      text-align:right;
    }

    span.read-more a{
      border-radius:100%;
      border:1px solid #000;
      width: 20px;
      height: 20px;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      color:#000;
    }
  }
}

.home-sidebar {
  b {
    color: rgba(70, 201, 214, 0.59); 
    text-transform: uppercase;
  }

  .more-post a {
    color: #a9425a; 
  }
}

.actu-post {
  margin-top: 25px;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    a {
      color: #000;
    }
  }
}

.content-pagination {
  text-align: center;
}

.single-post {
  text-align: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
  }

  .txtdescription {
    margin: 10px 0;

    .content { font-size: 16px; }

    b { 
      color: rgba(70, 201, 214, 0.59); 
      text-transform: uppercase;
    }

    .pink { color: #a9425a; }

    .black{ color: #000; }
  }
}

.comments {
  margin: 40px 0;

  h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #a9425a;
    border-bottom: 2px solid #e6e6e6;
  }

  .single-comment {
    h4 {
      text-transform: uppercase;

      span {
        color: #a5a5a5;
        text-transform: none;
        font-size: 17px;
      }
    }

    .txt-comment {
      p { padding-left: 15px; }
    }
  }

  .form-comment {
    margin-top: 70px;

    input,
    textarea {
      margin-bottom: 30px;
      border: 1px solid #9a9a9a;
    }

    textarea {
      width: 350px;
      height: 150px;
    }
  }
}

.button button[type="submit"] {
  background-color: rgba(70, 201, 214, 0.59);
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
}

.form {
  text-align: center;

  label { font-size: 17px; }

  input[type=text],
  input[type=password] {
    width: 200px;
  }

  .mb10,
  .mb20 {
    margin: 30px 0;
  }

  .btn-valid {
    margin-bottom: 50px;
  }
}

.link-post {
    background-size: cover;
    height: 235px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.page-contact {
  text-align: center;
  margin: 50px 0;

  h2 { margin-top: 0; }

  form {
    input,
    textarea {
      display: block;
      margin: 30px auto;
      width: 250px;
      border: 1px solid #9a9a9a;
    }

    textarea { height: 150px; }
  }
}

footer {
  nav {
    background-color: #a9425a;
    height: 50px;
    line-height: 50px;
    text-align: center;

    ul {
      display: inline;

      li {
        display: inline-block;

        a {
            text-transform: uppercase;
            color: #FFF;
            padding: 0 10px;
            border-right: 1px solid #fff;
        }

        &:last-child a {
          border-right: 0;
        }
      }
    }
  }
}

.list-post {
  margin-top: 50px;

  .panel-heading { 
    padding: 0; 
    text-align: center;
    text-transform: uppercase;

    a {
      color: #000;
    }
  }
  .panel-title { padding: 10px 15px; }

  .list {
    padding: 0 10px;

    a {
      display: block;
      text-align: center;
      color: #000;
    }

    h3 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-top: 10px;
      font-size: 20px;

      a {
        color: #a9425a;
      }
    }

    .see-more { margin-bottom: 10px; }
  }
}

.content-form {
  text-align: center;
}

@media screen and (min-width: 768px) {

  .bottom-nav,
  .bottom-nav-admin {
    li {
      a {
        font-size: 20px;
        margin-right: 50px;
        position: relative;
        padding-bottom: 0!important;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
          background-color: transparent;
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }

  .right-nav {
    .connect:hover {
      color: #000;
      @include transition(ease-in-out 0.4s);
    }
  }

  .home-sidebar {
    h3 {
      margin-top: 50px;
    }
  }

  .post {
    img{
      height: 260px;
    } 

    .description {
      height: 260px;

      h3 {
        margin-top: 20px;
      }

      .read-more {
        &:hover {
          text-decoration:none;
          @include transition(all 0.2s);
          width: 120px;
        }
      }
    }
  }

  .actu-post {
    .txt-description {
      color: #000;
      height: 100%;
      opacity: 0;
      text-align: center;
      border: 10px solid transparent;
      @include transition(all 0.4s);
    }

    .link-post:hover .txt-description {
      display: block;
      opacity: 1;
      background-color: rgba(255,255,255, 0.6);
      border: 10px solid #a9425a;
      @include transition(all 0.4s);
    }
  }
}

@media screen and (min-width: 992px) {

  .top-nav {
    h1 {
      font-size: 36px;
    }
  }

}