@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body { height: 100%; }

.page {
  min-height: 100%;
  position: relative;
}

.container { padding-bottom: 50px; }

footer { 
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.red{
  background-color: #ff4e4e;
  padding: 8px;
}

.green{
  background-color: #75ce24;
  padding: 8px;
}

.dft_curs{ cursor: default; }

a.active { border-bottom: 2px solid; }

body { font-family: 'Marvel', sans-serif; }

h1 {
  font-family: 'Pacifico', cursive;
  display: inline;
  vertical-align: middle;
}

ul { margin-bottom: 0; }

li { list-style: none; }

table { 
  margin-top: 50px; 
  border-bottom: 2px solid #ddd;
  text-align: center;
}

thead tr th {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgba(70, 201, 214, 0.59);
    font-weight: bold;
    text-align: center;
}

table {
  tbody tr td.title-table {
    text-align: left;
    a {
      text-transform: uppercase;
      font-size: 16px;
      color: #a9425a;
    }
  }
}
.form-group {
  margin: 30px 0;

  label {
    color: #ca915d;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}

.form-check {
  margin-top: 10px;

  label { text-transform: uppercase; }
  input { margin-right: 10px; }
}

.form-create { margin-top: 50px; }

.container-btn { 
  margin-bottom: 30px;
  text-align: center; 
}

.btn-closed {
  background-color: #ff4e4e;
  color: #fff;
  padding: 3px 8px;
}

.btn-validate {
  border: 0;
  background-color: #75ce24;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-delete {
  background-color: #ff4e4e;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
}
 
.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.h1-form {
  display: block;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 50px;
}

a:hover, a:focus { text-decoration: none; }

.msg {
    background-color: #9edc3c;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.error-msg {
    margin-top: 20px;
    background-color: rgba(215, 44, 44, 0.8);
    border-radius: 5px;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
}

ul.pagination li span, 
ul.pagination li a {
    border-radius: 30px;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 15px;
    color: #000;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
    background-color: rgb(202, 145, 93);
    border-color: rgb(202, 145, 93);
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
  border-radius: 30px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
  border: 1px solid #a9425a;
  border-radius: 5px;
  text-align: center;
  background-color: #fdfdfd;
  box-shadow: 0px 3px 5px 0px #bdbdbd;

  &:focus { outline: none; }
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
  margin-bottom: 10px;

  .ui-dialog-buttonset {
    button {
      margin-right: 5px;
      border: 0;
      border-radius: 5px;
      color: #fff;
      padding: 5px 10px;
    }

    button:first-child { background-color: #75ce24; }
    button:last-child { background-color: #ff4e4e; }
  }
}

#confirm {
  font-size: 15px;
  padding: 5px;
  span { 
    font-weight: bold;
    text-transform: uppercase; 
  }

  p { padding: 5px; }
}

.top-nav {
  background-color: #a9425a;
  height: 80px;
  line-height: 80px;
  padding: 0;

  a {
    color: #fff;
    text-transform: uppercase;
  }

  .site-title {
    text-align: center;

    h1 {
      color: #FFF;
      font-size: 20px;
    }
  }

  .connect {
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
  }

  li { display: inline-block; }

  img {
    margin: 0 10px;
    width: 30px;
  }

  p { 
    display: inline-block; 
    color: #FFF;
    font-size: 14px;
    margin-right: 0;
    text-transform: uppercase;

    .username { color: #75ce24; }
  }

  .btn-deco { font-size: 11px; }

  .connect { @include transition(ease-in-out 0.4s); }

  .social {
    text-align: right;

    .logos {
      width: 15px;
      height: 15px;
      display: inline-block;
      background-size: cover !important;
      vertical-align: middle;
    }

    .fb {
      background:url(../images/logo-fb.png);

      &:hover { background:url(../images/logo-fb-hover.png); }
    }

    .twitter {
      background:url(../images/logo-twitter.png);

      &:hover { background:url(../images/logo-twitter-hover.png); }
    }

    .fb-like {
      width: 34px;
      margin: 5px;
    }
  }

  .form-inline form {
    display: inline-block;

    input[type="submit"] {
      height: 30px;
      line-height: 30px;
      border: 0;
      background-color: transparent;
    }
  }
}

.bottom-nav {
  margin-top: 30px;
  line-height: 50px;
  text-align: center;

  li {
    display: inline-block;

    a {
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      margin-right: 5px;
      @include transition(all 0.3s);

      &:last-child { margin-right: 0; }
      &:active { color: blue; }
    }
  }

  .search-bar {
    height: 30px;
    display: inline-block;
    width: auto;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
  }

  .search-submit {
    border: 0;
    background-color: transparent;
  }
}

.bottom-nav-admin {
  padding-top: 10px;
  text-align: center;

  li {
    display: inline-block;
    a {
      color: #000;
      font-size: 20px;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }
}

.right-nav {
  padding: 0;

  a {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
  }
}

.post {
  margin: 50px 0;

  img {
    height: auto;
    max-width: 100%;
  }

  .post-img {
    padding: 0;
    text-align: center;
  }

  .description {
    height: auto;

    h3 {
      font-size: 30px;
      margin-top: 0px;
      text-align: center;

      a { color: rgb(202, 145, 93); }
    }

    .excerpt { font-size: 18px; }

    .date,
    .autor { 
      margin-bottom: 0;
      font-size: 13px; 

      b {
        color: rgb(202, 145, 93); 
        text-transform: uppercase;
      }
    }

    .comment { text-align: right; }

    .link { text-align: right; }

    .read-more {
      background-color: #000;
      width: 30px;
      display: inline-block;
      overflow: hidden;
      height: 30px;
      text-align: left;
      padding: 0;
      text-decoration: none;
      color: #000;
      border-radius: 30px;
      font-size: 18px;
      padding: 1px;
      @include transition(all 0.2s);

      > span {
        background-color: #fff;
        border-radius: 30px;
        height: 28px;
        line-height: 27px;
        display: block;
      }
    }

    .read-more span span {
      display: inline-block;
      width:28px;
      font-size: 20px;
      text-align: center;
    }

    span.read-more {
      display: block;
      text-align:right;
    }

    span.read-more a{
      border-radius:100%;
      border:1px solid #000;
      width: 20px;
      height: 20px;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      color:#000;
    }
  }
}

.home-sidebar {
  margin-bottom: 50px;

  b {
    color: #000; 
    text-transform: uppercase;
  }

  .sidebar-title {
    font-size: 30px;
    margin: 50px 0;
  }

  .more-post:first-child {
    h3 { margin-top: 30px; }
  }

  .more-post {
    a { color: #ca915d;  }
    h3 { margin-top: 35px; }
  }

  .content-read-more {
    background-color: #555;
    color: #FFF;
    padding: 5px 30px;
    padding-bottom: 30px;
  }
}

.actu-post {
  margin-top: 25px;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    a { color: #000; }
  }
}

.lycee {
  text-align: center;

  h2 { text-align: center; }
  .descriptif { text-align: justify; }
}

.content-pagination { text-align: center; }

.single-post {
  text-align: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
  }

  .txtdescription {
    margin: 10px 0;
    overflow: hidden;
    
    .content { 
      font-size: 16px; 
      text-align: justify;
      margin: 40px 0;
    }

    b { 
      color: rgb(202, 145, 93); 
      text-transform: uppercase;
    }

    .pink { color: #a9425a; }

    .black{ color: #000; }
  }
}

.txt-description {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  border: 10px solid #a9425a;
  color: #FFF;
  text-align: center;
  padding: 40px;
}

.comments {
  margin: 40px 0;

  h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #a9425a;
    border-bottom: 2px solid #e6e6e6;
  }

  .single-comment {
    h4 {
      text-transform: uppercase;

      span {
        color: #a5a5a5;
        text-transform: none;
        font-size: 17px;
      }
    }

    .txt-comment {
      p { padding-left: 15px; }
    }
  }

  .form-comment {
    margin-top: 50px;
    
    form { padding: 0; }

    input,
    textarea {
      margin-bottom: 30px;
      border: 1px solid #9a9a9a;
    }

    textarea { height: 150px; }
    h3 { margin-bottom: 0; }
  }
}

.button button[type="submit"] {
  background-color: rgb(202, 145, 93);
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
}

.form {
  text-align: center;

  label { font-size: 17px; }

  input[type=text],
  input[type=password] {
    width: 200px;
  }

  .mb10,
  .mb20 { margin: 30px 0; }

  .btn-valid {  margin-bottom: 50px; }
}

.link-post {
    background-size: cover;
    height: 235px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.page-contact {
  text-align: center;
  margin: 50px 0;

  h2 { margin-top: 0; }

  form {
    input,
    textarea {
      display: block;
      margin: 30px auto;
      width: 250px;
      border: 1px solid #9a9a9a;
    }

    textarea { height: 150px; }
  }
}

footer {
  nav {
    background-color: #a9425a;
    height: 50px;
    line-height: 50px;
    text-align: center;

    ul {
      display: inline;

      li {
        display: inline-block;

        a {
            text-transform: uppercase;
            color: #FFF;
            padding: 0 10px;
            border-right: 1px solid #fff;
        }

        &:last-child a { border-right: 0; }
      }
    }
  }
}

.list-post {
  margin-top: 50px;
  position: relative;

  .panel-heading { 
    padding: 0; 
    text-align: center;
    text-transform: uppercase;

    a { color: #000; }
  }
  .panel-title { padding: 10px 15px; }

  .list {
    padding: 0 10px;

    a {
      display: block;
      text-align: center;
      color: #000;
    }

    h3 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
      position: relative;

      a {
        color: #a9425a;
        display: inline-block;
      }

      button {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 4px;
      }
    }

    .see-more { margin-bottom: 10px; }
  }
}

.content-form { text-align: center; }

.level { margin-right: 20px; }

.title-question {
  color: #a9425a;
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;

  span { text-transform: uppercase; }
}

.table-question tbody tr td{
  text-align: left;

  a { padding: 0; }
}

thead tr th,
.table-comment tbody tr td { text-align: left; }

.table-comment .td-status { text-align: center; }

.table-post {
  .th-title { text-align: left; }

  thead tr th,
  tbody > tr > td { text-align: center; }
}

.title-search {
  margin: 50px 0;
  text-align: center;

  span { text-transform: uppercase; }
}

@media screen and (min-width: 768px) {

  .bottom-nav,
  .bottom-nav-admin {
    li {
      a {
        font-size: 20px;
        margin-right: 50px;
        position: relative;
        padding-bottom: 0!important;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
          background-color: transparent;
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }

  .post {
    img{ height: 260px; } 

    .description {
      height: 260px;

      h3 { margin-top: 20px; }

      .read-more {
        &:hover {
          text-decoration:none;
          @include transition(all 0.2s);
          width: 120px;
        }
      }
    }
  }

  .actu-post {
    .txt-description {
      height: 100%;
      opacity: 0;
      text-align: center;
      @include transition(all 0.4s);
    }

    .link-post:hover .txt-description {
      display: block;
      opacity: 1;
      background-color: rgba(0,0,0, 0.6);
      border: 10px solid #a9425a;
      @include transition(all 0.4s);
    }
  }

  .top-nav {
    .site-title h1 { font-size: 40px; }

    .connect {
      font-size: 15px;
      padding: 0 10px;
    }

    .social {
      .logos {
        width: 30px;
        height: 30px;
      }

      .fb-like {
        margin: 10px;
        width: 60px;
      }
    }
  }

  .title-search { margin-bottom: 20px; }

  .right-nav {
    text-align: right;
    padding: 0 15px;

    a {
      font-size: 12px;
      padding: 0 10px;
    }
}
}

@media screen and (min-width: 992px) {
  .home-sidebar { margin-bottom: 0; }
}